<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-2">
      <div class="circle">
        <br />
        <br />
        Splurty!
      </div>
    </div>
    <div class="col-xs-6 slogan">
      Splurting what you love.. or don't!
    </div>
    <div class="col-xs-4 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>

  </header>
  <hr />
  <br class="clear" />
<div class="container">
  <%= yield %>
</div>
  <div class="footer">
    <div class="container">
      <div class="col-xs-6 next-quote">
        <%= link_to "This isn't enough, I need more","#", class: 'next-quote' %>
      </div>
      <div class="col-xs-6 footer-blurb">
        Hacked together by <a href="https://github.com/CRossPhD">Christopher Ross</a>
      </div>
    </div>
  </div>



</body>
</html>
